{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th scope="col">Symbol</th>
    			<th scope="col">Name</th>
    			<th scope="col">Average Price</th>
    			<th scope="col">Current Price</th>
    			<th scope="col">Variation</th>
    		</tr>
    	</thead>
    	<tbody>
	        {% for row in rows %}
    	        <tr>
        			<td>{{ row["symbol"] }}</td>
        			<td>{{ row["name"] }}</td>
        			<td>{{ row["formated_avg"] }}</td>
        			<td>{{ row["formated_now"] }}</td>
        			{% if row["percent"] < 0 %}
            			<td class="negative">{{ row["formated_percent"] }}</td>
            		{% else %}
            		    <td class="positive">{{ row["formated_percent"] }}</td>
            		{% endif %}
        		</tr>
        	{% endfor %}
    	</tbody>
    </table>
{% endblock %}
